.Nav-options {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;
}
.Nav-options:hover {
  box-shadow: 0 0 4px 1px #ffffff;
}
.Nav-option {
  margin: 10px;
  color: black;
}
.current-genre {
  position: fixed;
  top: 7px;
  right: 10px;
}