.Search {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 50%;
  margin: 10px;
}
.Search input {
  background: transparent;
  padding: 9px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  width: 90%;
}
.Search input:focus {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.Search input::placeholder {
  color: #ffffff;
}