body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #0d1823;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
}
html {
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
button, input {
  border: none;
  outline: none;
  color: black;
}
button:focus, input:focus {
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
